* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.delete-btn {
    width: 100px;
    height: 20px;
    background-color: red;
    border: none;
    color: white;
}

.update-btn {
    width: 100px;
    height: 20px;
    background-color: rgb(6, 9, 129);
    border: none;
    color: white;
}

.submitBtn {
    width: 100px;
    height: 20px;
    background-color: green;
    border: none;
    color: white;
}

img {
    min-width: 140px;
    /* width: 90px; */
    float:left;
    margin: 10px;
}

h1 {
    color: blue;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

button {
    margin: 10px;
}

.creationForm {
    display: flex;
    flex-direction: column;
    max-width: 750px;
    justify-content: center;
    margin-left: 45px;   
}
.posts {
    display: flex;
    flex-direction: column;
    max-width: 750px;
    margin-left: 45px;
}
.content {
    margin-bottom: 15px;
    padding-bottom: 14px;
    border: black 1px solid;
    border-radius: 45px;
}

.creationForm>label,
.creationForm>input,
.creationForm>textarea,
.creationForm>select
 {
    display: block;
    margin: 5px 10px;
}

.inputError {
    border: 1px solid red;
}

.errorMsg {
    margin-left: 10px;
    color: red;
    display: block;
    font-size: 14px;
}

.modal-body>label,
.modal-body>input,
.modal-body>textarea
 {
    display: block;
    margin: 5px 10px;
}
.modal-body {
    display: flex;
    flex-direction: column;
}

.btn {
    width : 150px;
    margin-top: 14px;
    margin-bottom: 25px;
}
.action {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}